.row{
  margin-left: 20px;
  color: white;
}

.row-poster{
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  margin: 10px;
  transition: transform 450ms;
}

.row-posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
/* tell the browsers to not display scrollbar */
.row-posters::-webkit-scrollbar{
  display: none;
}

.row-poster:hover{
  transform: scale(1.08);
}

.row-poster-large{
  height: 150px;
}

